<div class="form-wrapper">
  <div class="form-card">
    <h2>Crear cuenta</h2>
    <form id="registerForm">
      <input class="form-card-input" type="text" name="first_name" placeholder="Nombre" required>
      <input class="form-card-input" type="text" name="last_name" placeholder="Apellido" required>
      <input class="form-card-input" type="email" name="email" placeholder="Correo electrónico" required>
      <input class="form-card-input" type="password" name="password" placeholder="Contraseña" required />
      <button type="submit">Registrarse</button>
    </form>
  </div>
</div>

<!-- Agregar SweetAlert2 -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
  const form = document.getElementById('registerForm');

  form.addEventListener('submit', async (e) => {
    e.preventDefault();

    const data = {
      first_name: form.first_name.value.trim(),
      last_name: form.last_name.value.trim(),
      email: form.email.value.trim(),
      password: form.password.value.trim()
    };

    try {
      const res = await fetch('/api/users', {
        method: 'POST',
        headers: { 'Content-Type': 'application/json' },
        body: JSON.stringify(data)
      });

      const result = await res.json();

      if (res.ok) {
        localStorage.setItem('user', JSON.stringify(result.user));
        Swal.fire({
          icon: 'success',
          title: 'Registro exitoso',
          text: `Bienvenido, ${result.user.first_name}`,
          confirmButtonColor: '#7b5eb3'
        }).then(() => {
          window.location.href = "/shop";
        });
      } else {
        Swal.fire({
          icon: 'error',
          title: 'Error',
          text: result.detail || "Error desconocido",
          confirmButtonColor: '#7b5eb3'
        });
      }

    } catch (err) {
      console.error("Error en fetch:", err);
      Swal.fire({
        icon: 'error',
        title: 'Fallo de conexión',
        text: 'No se pudo conectar con el servidor',
        confirmButtonColor: '#7b5eb3'
      });
    }
  });
</script>

