<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>CompuMegaRed</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="nav">
    <a href="/">Home</a>
    <a href="/realtimeproducts">Vista en Tiempo Real</a>
    <a href="/shop" class="btn btn-primary">Tienda</a>
  </div>
  {{{body}}}
</body>
</html>

